# Объектные файлы
*.o
*.obj
*.ko

# Библиотеки
*.a
*.lib
*.so
*.dylib
*.dll

# Исполняемые файлы (без расширения, но можно задать имена конкретных бинарников)
*.exe
*.out
*.app

# Папки сборки (если используете build/)
build/

# Файлы IDE (опционально)
.vscode/
.idea/

# Отладочные файлы
*.dSYM/